@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html,body{
    background: linear-gradient(to right top, orange ,black);
    height: 100%;
    font-family:'Poppins';

}